.my-bets{
    display: flex;
    justify-content: space-between;
}
.my-bets thead{
    display: none;
}

.my-bets tr:hover {
    cursor:pointer;
}

@media screen and (max-width:1300px) {
    .my-bets{
        flex-direction: column;
    }
}